:root{
    --white: rgb(244, 242, 239);
    --pinkie: rgb(205, 70, 98);
    --green: rgb(174, 194, 137);
    --pinkie-transparent: rgb(205, 120, 138);
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    background-color: var(--white);
}

h1 {
    color: var(--green);
}

header {
    grid-row: 1;
    top: 0;
    display: flex;
    position: sticky;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 1.7em;
    padding: 16px;
    z-index: 1;
    background-color: var(--white);
}

.main {
    grid-row: 2;
    position: relative;
    display: flex;
    justify-content: center;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/evt/images/IMG_6771.JPG');    
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

.listik {
    margin-top: 60px;
    text-align: center;
}

.custom-emoji {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
    background-color: var(--white);
    max-width: 400px;
    height: auto;
    padding: 40px;
    border: 3px dotted var(--green);
    margin: auto;
}

li {
    list-style: none;
    text-indent: -1em;
}

li::before {
    content: '🪐';
    padding: 10px;
}

li a {
    color: var(--pinkie);
    font-size: 1.4em;
    padding: 0 10px;
}

li a:hover, li a:hover:visited {
    color: var(--green);
}
li a:visited {
    color: var(--pinkie-transparent);
}