body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: whitesmoke;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #e554b0;
}

a:hover {
    text-decoration: underline;
}

.film-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 200px;
}